*{
    margin: 0px;
    padding: 0px ;
}

main{
    width: 100%;
    max-height: 100vh;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 15px;
}

.datosEvento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datosEvento p{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


