.NavBar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.285);
}

.NavBar button {
    margin: 10px;
    width: 15%;
    height: 70%;
    border: none;
    border-radius: 10px;
    background-color: deeppink;
    font-family: fantasy;
    font-size: 20px;
    cursor: pointer;
}

.NavBar button:hover{
    background-color: pink ;
}